*~ 
*.tmp
*.log
*-c*ance.tex
*.gz
*.ods
*Sandbox*
output*.rda
*.mp4
*.mp3
*Reading*
*.nc
allCountries.txt
*Results/results_sandbox*
*Results/fromfunction/80*.csv
*Results/fromfunction/100*.csv
*Results/fromfunction/150*.csv
*Results/fromfunction/200*.csv
*Results*
